/*
Template Name: ColorMag
Template URI: http://www.wpfreeware.com/colormag-free-wordpress-blogmagazine-theme/
Author: WpFreeware
Author URI: http://www.wpfreeware.com
Description: A beautiful responsive magazine style template
Version: 1.0 
License: GPL 2.0 & later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan.otf?#'),
    url('../fonts/Yekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
    font-family: 'Eddie';
    src: url('../fonts/Eddie.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Eddie.woff') format('woff'),
    url('../fonts/Eddie.ttf') format('truetype'),
    url('../fonts/Eddie.svg#Eddie') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Yekan, Sans-Serif !important;
    background-color: #e5e3df;
    color: #444;
    overflow-x: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    color: #272727;
}

h2 {
    font-family: 'yekan', fantasy;
}
#searchForm{
    float: right;
    margin-top: 8px;
    width: 25%;
    height: auto;
}
#searchForm input[type="text"] {
    background-color: #282828;
    border: 0 none;
    color: #fff;
    float: right;
    font-size: 13px;
    height: 35px;
    outline: 0 none;
    padding: 5px 5px 5px 10px;
    width: 85.5%;
}
#searchForm input[type="submit"] {
    background: url("../img/btn_search.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    float: right;
    font-size: 0;
    height: 35px;
    width: 35px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#searchForm input[type="submit"]:hover{
    opacity: 0.75;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.img-right {
    display: block;
    margin-left: auto;
}

.img-left {
    display: block;
    margin-right: auto;
}

.yellow_bg {
    background-color: #ffd62c;
}

.red_btn {
    background-color: #cc0000;
    color: #fff;

}

.red_btn:hover {
    background-color: #9c0000;
    color: #fff;
}

/*.limeblue_bg {*/
    /*background-color: #7dc34d;*/
/*}*/

/*.blue_bg {*/
    /*background-color: #09c;*/
/*}*/

/*.blue_btn {*/
    /*background-color: #09c;*/
    /*color: #fff;*/
/*}*/

/*.blue_btn:hover {*/
    /*background-color: #39c8f7;*/
    /*color: #fff;*/
/*}*/

#header {
    float: right;
    display: inline;
    width: 100%;
    background-color: #3b3b3b;
}

.navbar {
    margin-bottom: 0px;
    width: 80%;
    float: right;
}

.navbar-default {
    background-color: #3b3b3b;
    border-color: #3b3b3b;
}

.navbar-brand {
    font-family: 'yekan';
    font-size: 23px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-brand > span {
    color: #ff2003;
}

.navbar-brand:hover {
    opacity: 0.75;
}

.custom_nav li {
    border-right: 1px solid #161616;
}

.custom_nav li a {
    border-bottom: 1px solid #333333;
    color: #fff !important;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 10px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: linear-gradient(to bottom, #e60000, darkred);
    color: #333;
    outline: none;
}
.nav>li>a:focus, .nav>li>a:hover{
    background: linear-gradient(to bottom, #e60000, darkred);
    color: #333;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #e60000;
    color: #555;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #cc0000;
    border-color: #e60000;
}

.navbar-default .navbar-toggle {
    border-color: #ce0000;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-collapse.in {
    overflow-x: hidden;
}

.custom_nav > li > a {
    background: none repeat scroll 0 0 #e71c0d;
}

/*.custom_nav > li:nth-child(2) > a {*/
    /*background: none repeat scroll 0 0 #ff2003;*/
/*}*/

/*.custom_nav > li:nth-child(3) > a {*/
    /*background: none repeat scroll 0 0 #ff2003;*/
/*}*/

/*.custom_nav > li:nth-child(4) > a {*/
    /*background: none repeat scroll 0 0 #ff2003;*/
/*}*/

.dropdown-menu {
    background-color: #3b3b3b;
    padding: 0px;
}

.dropdown-menu li a {
    border-top: 1px solid #222;
}

.dropdown-menu li:first-child a {
    border-top: none;
}

.dropdown-menu > li a {
    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
}

.dropdown-menu > li a:hover {
    background-color: #9c0000;
}

.dropdown_level2 {
    margin-left: 100%;
}

/*start cotent body css*/
#contentbody {
    display: inline;
    float: left;
    padding: 65px 0 22px;
    width: 100%;
}

.leftbar_content {
    float: left;
    display: inline;
    width: 100%;
    min-height: 200px;
}

.leftbar_content > h2 {
    background: none repeat scroll 0 0 white;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 25px;
    padding: 5px 25px;
    line-height: 32px;
}

.single_stuff {
    float: left;
    display: inline;
    width: 100%;
    padding: 0px 15px;
    margin-bottom: 30px;
}

.single_stuff_img {
    float: left;
    display: inline;
    width: 100%;
}

.single_stuff_img a {
    display: block;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}

/*.single_stuff_img a:hover{
	opacity: 0.75;
}
*/
.single_stuff_img img {
    max-width: 100%;
}

.single_stuff_article {
    float: left;
    display: inline;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #bebebd;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #bebebd;
}

.single_sarticle_inner {
    background-color: #fff;
    display: block;
    /*float: left;*/
    margin: -60px 20px 0;
    padding: 10px 20px;
    width: auto;
}

.stuff_category {
    color: #444;
    display: inline-block;
    font-size: 10px;
    outline: medium none;
    text-decoration: none;
    text-transform: uppercase;
}

.stuff_article_inner {
    /*float: left;*/
    display: block;
    width: 100%;
}

.stuff_date {
    background-color: #660000;
    border-radius: 3px;
    color: #fff;
    float: left;
    font-size: 14px;
    margin: 10px 15px 0 0;
    padding: 5px 8px;
    text-align: center;
    width: auto;
}

.stuff_date strong {
    font-size: 20px;
}

.stuff_article_inner h2 {
    font-size: 24px;
    line-height: 1.5em;
    margin: 0;
    padding: 5px 0 0;
}

.stuff_article_inner h2 > a {
    color: #444;
}

.stuff_article_inner p {
    line-height: 1.5em;
    padding: 10px 0;
}

.middlebar_content {
    float: right;
    display: inline;
    width: 126%;
    background-color: #fff;
    min-height: 200px
}

.middlebar_content > h2 {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    padding: 5px 25px;
    line-height: 32px;
}

.rightbar_content {
    float: left;
    display: inline;
    width: 87%;
    min-height: 200px;
}

.rightbar_content > h2 {
    background: none repeat scroll 0 0 white;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 25px;
    padding: 5px 25px;
    line-height: 32px;
}

.stuffpost_paginatinonarea {
    display: inline;
    float: left;
    padding: 0 15px;
    width: 100%;
}

.newstuff_pagnav {
    text-align: right;
}

.newstuff_pagnav li {
    display: inline-block;
}

.newstuff_pagnav li a {
    display: inline-block;
    background: none repeat scroll 0 0 #333;
    border-radius: 5px;
    color: white;
    margin: 0 2px 0 0;
    padding: 10px 15px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.newstuff_pagnav li a:hover, .newstuff_pagnav li a:focus, .newstuff_pagnav li a.active_page {
    background-color: #ce0000;
    outline: none;
}

/*start middle bar css*/
.middlebar_content_inner {
    border-left: 1px solid #bebebd;
    border-right: 1px solid #bebebd;
    display: inline;
    float: left;
    padding: 25px 15px 20px;
    width: 100%;
}

.middlebar_nav {
    padding: 0;
    margin: 0;
}

.middlebar_nav li {
    display: block;
    float: left;
    margin-bottom: 15px;
    width: 100%;
}

.mbar_thubnail {
    display: block;
    float: left;
    height: auto;
    margin-right: 10px;
    width: 30%;
}

.mbar_thubnail > img {
    max-width: 100%;
}

.mbar_title {
    color: #666;
    display: inline-block;
    float: left;
    font-size: 15px;
    margin-top: 5px;
    width: 65%;
}

.popular_categori {
    float: left;
    display: inline;
    width: 100%;
    border-left: 1px solid #bebebd;
    border-right: 1px solid #bebebd;
}

.popular_categori > h2 {
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    color: #fff;
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    margin: 0;
    padding: 5px 25px;
    width: 100%;
}

.poplr_catgnva {
    float: left;
    padding: 20px 15px;
    width: 100%;
}

.poplr_catgnva li {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.poplr_catgnva li a {
    display: block;
    font-size: 15px;
    text-decoration: none;
    font-family: arial;

}

.poplr_catgnva li a:hover {
    color: #7dc34d;
}

/*start right sidebar*/
.single_blog_sidebar {
    float: left;
    display: inline;
    width: 100%;
    padding: 0 25px;
}

.single_blog_sidebar > h2 {
    float: left;
    background: none repeat scroll 0 0 white;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    margin: 0 0 25px -25px;
    padding: 5px 25px;
    width: 116%;
}

.featured_nav {
    text-align: center;
}

.featured_nav li {
    float: left;
    width: 100%;
    background-color: #fff;
    padding-bottom: 32px;
    border-left: 1px solid #bebebd;
    border-right: 1px solid #bebebd;
    border-bottom: 1px solid #bebebd;
    margin-bottom: 36px;
}

.featured_img {

    display: block;
}
.featured_img img {
    max-width: 100%;
    width: 100%;
}

.featured_title {
    background: none repeat scroll 0 0 white;
    margin: 0 15px;
    position: relative;

}

.featured_title > a {
    display: block;
    background-color: #fff;
    margin-top: -30px;
    padding: 20px 15px 10px;
}

.topadd_place {
    float: left;
    display: inline;
    width: 100%;
    text-align: center;
}

.topadd_place > a {
    display: inline-block;
    width: 728px;
}

.topadd_place > a img {
    width: 100%;
}

/*start popular tags area*/
.poplr_tagnav {
}

.poplr_tagnav li {
}

.poplr_tagnav li a {
    background-color: #fff;
    color: #bbb7b7;
    display: inline-block;
    float: left;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 6px 12px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.poplr_tagnav li a:hover {
    background-color: #ffd62c;
    color: #fff;
    text-decoration: none;
}

/*start footer area*/
#footer {
    float: left;
    display: inline;
    width: 100%;
    background: none repeat scroll 0 0 #3b3b3b;
    border-bottom: 5px solid #282828;
    border-top: 5px solid #282828;

}

.footer_inner {
    float: left;
    display: inline;
    width: 100%;
    padding: 10px 0px;
}

.footer_inner p {
    color: #fff;
    font-size: 13px;
}

.footer_inner p a:hover {
    color: #ce0000;
    text-decoration: none;
    border-bottom: 1px solid #ce0000;
}

/*End footer area*/

/*start single page*/
.singlepost_area {
    float: left;
    display: inline;
    width: 100%;

}

.singlepost_content {
    background-color: #fff;
    display: inline;
    float: left;
    margin-bottom: 25px;
    margin-left: 15px;
    padding: 20px;
    width: 95%;

}

.singlepost_content img {
    margin-top: 15px;
    margin-bottom: 15px;
}

.singlepost_content h2 {
    font-size: 24px;
    line-height: 1.5em;
    margin: 0;
    padding: 5px 0 0;
}

.singlepost_content p {
    background-color: white;
    border: 0 none;
    color: #333333;
    font-family: Yekan;
    font-size: 13px;
    line-height: 20.8px;
    margin: 0 0 10px;
    padding: 0;
    text-align: justify;
    vertical-align: baseline;
}

.singlepost_content blockquote {
    font-family: arial;
    font-style: italic;
}

.singlepost_content > ul {
    padding-left: 15px;
}

/*.singlepost_content > ul li {*/
    /*background-image: url(img/arrow_icon.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: right center;*/
    /*padding-right: 20px;*/
    /*margin-bottom: 8px;*/
/*}*/

.singlepost_content > ul li:hover {
    opacity: 0.50;
}

.social_area {
    display: inline;
    float: left;
    margin-top: 20px;
    padding: 10px 0;
    width: 100%;
}

.social_area ul {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.social_area ul li {
    display: inline-block;
}

.social_area ul li > a {
    background: none repeat scroll 0 0 grey;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    margin: 0 4px;
    padding: 6px 12px;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.social_area ul li > a:hover {
    /*opacity: 0.75;*/
    transform: rotate(360deg);
}

.social_area li:nth-child(1) > a {
    background: none repeat scroll 0 0 #3b5998;
    padding: 6px 16px;
}

.social_area li:nth-child(2) > a {
    background: none repeat scroll 0 0 #00acee;
}

.social_area li:nth-child(3) > a {
    background: none repeat scroll 0 0 #dd4b39;

}

.social_area li:nth-child(4) > a {
    background: none repeat scroll 0 0 #0e76a8;

}

.social_area li:nth-child(5) > a {
    background: none repeat scroll 0 0 #c92228;

}

.author {
    float: left;
    display: inline;
    width: 100%;
}

.author > a {
    border-radius: 50%;
    display: block;
    float: left;
    height: 100px;
    margin-right: 20px;
    width: 100px;
}

.author a > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.author > a:hover {
    opacity: 0.75;
}

.author_details {
    float: left;
    display: inline;
    width: 68%;
}

.singlepage_pagination {
    display: inline;
    float: left;
    margin-top: 40px;
    padding: 0 20px;
    width: 100%;
}

.previous_btn {
    border: 2px solid #d60000;
    border-radius: 0 10px;
    color: #333333;
    display: inline-block;
    float: left;
    outline: medium none;
    padding: 8px 10px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.next_btn {
    border: 2px solid #d60000;
    border-radius: 10px 0px;
    color: #333333;
    display: inline-block;
    float: right;
    outline: medium none;
    padding: 8px 10px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.previous_btn:hover, .previous_btn:focus, .next_btn:hover, .next_btn:focus {
    background-color: #d60000;
    border-color: #333333;
    text-decoration: none;
    color: #fff;
    outline: none;
}

.similar_post_area {
    float: left;
    display: inline;
    width: 100%;
}

.similar_post_area > h2 {
    background: none repeat scroll 0 0 white;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    margin: 0 0 25px;
    padding: 5px 25px;
    width: 100%;
}

.similar_post_area > h2 i {
    color: #ffd62c;
    display: inline-block;
    font-size: 25px;
    margin-left: 5px;
    margin-top: 5px;
}

.similarpost_nav {
    text-align: center;
}

.similarpost_nav li {
    display: inline-block;
    width: 30%;
    float: none;
    margin: 0px 1%;
}

.scrollToTop {
    background: none repeat scroll 0 0 #e60000;
    border: 1px solid #9c0000;
    bottom: 105px;
    color: #FFFFFF;
    display: none;
    font-size: 32px;
    font-weight: bold;
    height: 50px;
    position: fixed;
    left: 75px;
    text-align: center;
    text-decoration: none;
    width: 50px;
    z-index: 9999;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}

.scrollToTop:hover, .scrollToTop:focus {
    background-color: #ff2003;
    color: #FFFFFF !important;
    text-decoration: none;
    outline: none;
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* change if the mask should have another color then white */
    z-index: 99; /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    background-image: url(../img/status.gif); /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px; /* is width and height divided by two */
}

/*======================///////////////
			start responsive style
=====================///////////////////////*/
@media (max-width: 1199px ) {
    .navbar-collapse {
        padding-right: 0px;
    }

    .custom_nav li a {
        font-size: 12px;
        padding: 15px 6px;
    }

    #searchForm input[type="text"] {
        width: 81%;
    }

    .mbar_title {
        font-size: 14px;
        margin-top: 0;
        width: 64%;
    }

}

@media (max-width: 991px ) {
    .navbar {
        width: 100%;
        padding-top: 20px;
    }

    .custom_nav li a {
        font-size: 10px;
        padding: 15px 8px;
    }

    .custom_nav li {
        border-right: medium none;
    }

    #searchForm {
        margin-bottom: 20px;
        margin-top: 20px;
        width: 100%;
        padding: 0px 15px;
    }

    #searchForm input[type="text"] {
        width: 95%;
    }

    #searchForm input[type="submit"] {
        float: right;
        width: 5%;
    }

    .middlebar_content {
        width: 100%;
    }

    .rightbar_content {
        width: 100%;
    }

    .single_stuff_img img {
        width: 100%;
    }

    .mbar_thubnail {
        width: 22%;
    }

    .mbar_title {
        width: 70%;
    }

    .leftbar_content {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px ) {
    .custom_nav li a {
        font-size: 10px;
        padding: 15px 20px;
    }

    #searchForm input[type="text"] {
        width: 90%;
    }

    #searchForm input[type="submit"] {
        float: right;
        width: 35px;
    }

    .custom_nav li a {
        font-size: 14px;
    }

    .mbar_thubnail > img {
        width: 100%;
    }

    .topadd_place > a {
        width: 100%;
    }
}

@media (max-width: 480px ) {
    #searchForm input[type="text"] {
        width: 86%;
    }

    .stuff_article_inner h2 > a {
        font-size: 20px;
    }

    .footer_inner p {
        float: none;
        width: 100%;
        text-align: center;
    }

    .similarpost_nav li {
        margin: 0 0 25px;
        padding: 0 2%;
        width: 100%;
    }
}

@media (max-width: 320px ) {
    .stuff_article_inner h2 {
        line-height: 1em;
    }

    .stuff_article_inner h2 > a {
        font-size: 16px;
    }

}

/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    width: 100%;
}
#maincarousel > .item > img,
#maincarousel > .item > a > img{
    height: 400px;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
    border-radius: 15px;
    margin-bottom: 50px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 0 25px 10px 0;
    color: #fff;
    text-align: right;
}

.carousel-indicators {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    margin: 0;
    padding: 0 0 25px 25px;
    text-align: left;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}



/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.section-white {
    padding: 10px 0;
}

.section-white {
    background-color: #fff;
    color: #555;
}

.log-reg{
    display:inline-flex;
    color:white !important;
    margin: 15px 0;
    float: left;
}
ul.log-reg li a{
    display:inline-flex;
    color:white !important;
}
span.logout{
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
}
/*@media screen and (min-width: 768px) {*/

/*.section-white {*/
/*padding: 1.5em 0;*/
/*}*/

/*}*/

/*@media screen and (min-width: 992px) {*/

/*.container {*/
/*max-width: 930px;*/
/*}*/

/*}*/
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    /*background-color: #F7F7F7;*/
    background-color: #3b3b3b;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 34px;
    font-size: 16px;
    color: #000;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #ce0000;
    padding: 15px 0;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}
.loginmodal-container hr{
    border-color: white;
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #ce0000;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help{
    font-size: 12px;
}

/********************register css*********************/
h1.title {
    font-size: 36px;
    font-weight: 400;
    color: #fff;
}

hr{
    width: 50%;
    border-top: 1px solid white ;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
    color: #fff;
}
.dataTables_filter label{
    color: #333;
}
.dataTables_length label{
    color: #333;
}

input,
input::-webkit-input-placeholder {
    font-size: 14px;
    padding-top: 3px;

}

.main-login{
    background-color: #3b3b3b;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;

}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 14px;
    text-align: center;
}
.login-register a{
    color: #fff;
}


/*******************tab style*************************/
.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
body{ background: #EDECEC;}

/*****************************************************/
textarea{
    resize: vertical;
    min-height: 100px;

}

/*----------------------------------------------------*/
/*----------------- Testimonials CSS -----------------*/
/*----------------------------------------------------*/
.testimonial{
    margin-bottom: 10px;
}

.testimonial-section {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #fff;
}

.testimonial-section:after {
    bottom: 100%;
    right: 50px;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-bottom-color: #fff;
    border-width: 15px;
    margin-left: -15px;
}


.testimonial-desc {
    margin-bottom: 20px;
    text-align:right;
    padding-right: 15px;
}
.testimonial-desc img {
    border: 1px solid #f5f5f5;
    border-radius: 150px;
    height: 70px;
    padding: 3px;
    width: 70px;
    display:inline-block;
    vertical-align: top;
}

.testimonial-writer{
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}

.testimonial-writer-name{
    font-weight: bold;
}

.testimonial-writer-designation{
    font-size: 85%;
}

.testimonial-writer-company{
    font-size: 85%;
}
/*---- Outlined Styles ----*/

.testimonial.testimonial-primary{

}
.testimonial.testimonial-primary .testimonial-section{
    border-color: #337AB7;
    color: #286090;
    background-color: rgba(51, 122, 183, 0.1);
}

.testimonial.testimonial-primary .testimonial-section:after{
    border-bottom-color: #337AB7;
}

.testimonial.testimonial-primary .testimonial-desc{

}

.testimonial.testimonial-primary .testimonial-desc img{
    border-color: #337AB7;
}

.testimonial.testimonial-primary .testimonial-writer-name{
    color: #337AB7;
}

.testimonial.testimonial-success{

}
.testimonial.testimonial-success .testimonial-section{
    border-color: #5CB85C;
    color: #449d44;
    background-color: rgba(92, 184, 92, 0.1);
}

.testimonial.testimonial-success .testimonial-section:after{
    border-bottom-color: #5CB85C;
}

.testimonial.testimonial-success .testimonial-desc{

}

.testimonial.testimonial-success .testimonial-desc img{
    border-color: #5CB85C;
}

.testimonial.testimonial-success .testimonial-writer-name{
    color: #5CB85C;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border: 1px solid transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #3b3b3b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ce0000;
}
.error::-webkit-input-placeholder{
    color: #ff2003;
}
/*-----------------------------*/

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #f1f1f1;
    color: white;
}

#filters{
    background: #333;
    margin-top: -50px;
    margin-bottom: 20px;
}
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
    width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */

    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
    text-indent: 0;
}